<!-- Bootstrap Navigation Baar-->
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1> Anguler Crud</h1>
        <div class="d-flax">
           <button  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Employee</button>

        </div>

    </div>
</nav>
<!------------------------------>
<!------------------------------>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Salary</th>
            <th scope="col">Actions</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>sunil</td>
            <td> kumar</td>
            <td> Sunil@123</td>
            <td>7799112090</td>
            <td>30000</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>
            
            

        </tr>
    </tbody>

</table>
<!--------------------------------------->

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Employee Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!-- Model Content  implimenting  Form -->
            <form [formGroup]="formValue">                  
            
                    <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Last name</label>
                        <input type="text" formControlName="lastName" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Email Id</label>
                        <input type="text"  formControlName="email"id="disabledTextInput" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Mobile Number</label>
                        <input type="text" formControlName="mobileNumber" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Salary</label>
                        <input type="text" formControlName="salary" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                    </div>
                     
            </form>
            <!-- Model Content   implimenting form-->
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
